<div class="row row-cols-1 accountInfo">
    <div class="col">
        <span><strong>User Id:</strong> {{id}}</span>        
    </div>
    <div class="col">
        <span><strong>Username: </strong>{{username}}</span>
    </div>
    <div class="col">
        <span><strong>Member since:</strong> {{date}}</span>
    </div>
    </form>
</div>