{{!-- Admin home, current links to products and sales information (however there currently is no sales info saved.) --}}
<div class="container adminHome">
    <h2 style="text-align: center">What would you like to do today?</h2>
    <div class="row dashboard-container">
        <figure class="col-md-6">
        <a href="/admin/Product"><button class="btn btn-primary">View or Manage Products</button></a>
        </figure>
        <div class="col-md-6">
            <a href="/admin">
            <button class="btn btn-primary"> View or Manage Sales</button>
            </a>
        </div>
    </div>
</div>