
<div class="container">

<table>
    <tr>
        {{#each item}}
        <th >
            {{@key}}
        </th >
        {{/each}}
    </tr>

        {{#each table}}
    <tr>
        {{#each this}}
            <td>
             {{this}}
            </td>
        {{/each}}     
    </tr>
        {{/each}}
</table>   

<div class="row">


<form class="col-4">
<h4> Change by Category </h4>

<select id="change-by-category"> 
        {{#each item}}
        <option value={{@key}} >
            {{@key}}
        </option >
        {{/each}}
</select>
</form>

<form class="col-4">
    <h4>Change by ID</h4>
  <div class="form-row align-items-center">
    <div class="col-auto">
      <label class="sr-only" for="change-by-id">Name</label>
      <input type="text" class="form-control mb-2" id="change-by-id">
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-primary mb-2" id="id-change-submit">Submit</button>
    </div>
  </div>
</form>

<form class="col-4">
<h4> Add Product </h4>

<button type="button" class="btn btn-primary" id="add-product">Add a Product</button>
</form>

</div>

</div>

		<script src="https://code.jquery.com/jquery.js"></script>
        <script src="/assets/js/admin.js"></script>