
<<<<<<< HEAD
<div class="container" id="chart-area">


=======


<div class="container">
<canvas id="myChart"></canvas>
>>>>>>> main
</div>




<<<<<<< HEAD
{{!-- Chart.js --}}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{{!-- Our js --}}
<script src="/assets/js/adminsales.js"><script>
=======

{{!-- Chart.js --}}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{{!-- Our js --}}
<script src="assets/js/adminsales.js"></script>
>>>>>>> main
