{{!-- The change by category page. --}}
<div class="container">

<table >
    {{!-- Loops through one item and displays the keys to make table headers. --}}
    <tr >
        {{#each item}}
        <th >
            {{@key}}
        </th >
        {{/each}}
        <th >
            New Value
        </th>
    </tr>
{{!-- loops through each item, making a row for each item and column for each key with the values given in the table. Further gives an input column at the end so the user can change information.--}}
        {{#each table}}
    <tr >
        {{#each this}}
            <td >
             {{this}}
            </td>
        {{/each}}   
        <td >
            <form>
  <div class="form-row align-items-center">
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInput">Name</label>
      <input type="text" class="form-control mb-2" id="{{this.id}}-input">
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-primary mb-2 change-submit" data-id="{{this.id}}">Submit</button>
    </div>
  </div>
</form>  
</td>
    </tr>
        {{/each}}
</table>   

{{!-- returns user to back to product view with options to do more. --}}
<a href="/admin/Product"><button type="button" class="btn btn-primary m-4" id="back-to-product">Back to All Products</button></a>
</div>
    {{!-- links to jquery and the js for this page. --}}
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/adminchange.js"> </script>