
{{!-- This page will display a chart showing the total sales each day over the last two weeks.  Since chart is created using chart.js, all such information is in the adminsaes --}}

<div class="container" id="chart-area">


</div>





{{!-- Chart.js --}}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{{!-- Our js --}}
<script src="assets/js/adminsales.js"></script>
