<div class="container">

<table style="border: 1px solid black;">
    <tr style="border: 1px solid black;">
        {{#each item}}
        <th style="border: 1px solid black;">
            {{@key}}
        </th >
        {{/each}}

    </tr>

    <tr style="border: 1px solid black;">
        {{#each item}}
            <td style="border: 1px solid black;">
             {{this}}
            </td>
        {{/each}}   
    </tr>
    


<tr>

        {{#each item}}
            <td style="border: 1px solid black;">
<form>
  <div class="form-row align-items-center">
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInput">Name</label>
      <input type="text" class="form-control mb-2" id="inlineFormInput">
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-primary mb-2" data-id="{{this.id}}">Submit</button>
    </div>
  </div>
</form> 
            </td>
        {{/each}}   
</tr>      
</table>   


<button type="button" class="btn btn-primary m-4" id="back-to-product">Back to All Product</button>
</div>

		<script src="https://code.jquery.com/jquery.js"></script>
		<script>

        $("#back-to-product").on("click",function(e){
        e.preventDefault();
        window.open(`/admin/Product/`);
    });
    </script>