
<div class="container">

<table >
    <tr >
        {{#each item}}
        <th >
            {{@key}}
        </th >
        {{/each}}
        <th >
            New Value
        </th>
    </tr>

        {{#each table}}
    <tr >
        {{#each this}}
            <td >
             {{this}}
            </td>
        {{/each}}   
        <td >
            <form>
  <div class="form-row align-items-center">
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInput">Name</label>
      <input type="text" class="form-control mb-2" id="{{this.id}}-input">
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-primary mb-2 change-submit" data-id="{{this.id}}">Submit</button>
    </div>
  </div>
</form>  
</td>
    </tr>
        {{/each}}
</table>   


<button type="button" class="btn btn-primary m-4" id="back-to-product">Back to All Products</button>
</div>

		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/adminchange.js"> </script>