<h2 style="text-align: center">What would you like to do today?</h2>


<div class="row container">

<figure class="col-6">
 
    <a href="/admin/Product"><h4 class="text-centered"> View or Manage Products</h4></a>
</figure>

<div class="col-6"><a href="/admin"><h4 class="text-centered"> View or Manage Sales</h4></a></div>
  

</div>