<div class="container row mr-auto ml-auto mt-4">


<div class="col-md-8 col-sm-12">
<div class="card-body" id="cart-body">
    <h5 class="card-title">Your Cart</h5>

  </div>
</div>


<div class="col-md-4 col-sm-12">
    <h4> Total Price: </h4>
    <button class="btn btn-primary" type="button" id="finalize-checkout">Checkout</button>
</div>

</div>

<script src="assets/js/cart.js"></script>