{{!-- The cart page will display the information from what the user has saved to purchase.  This container's are filled from js file.--}}

<div class="container row mr-auto ml-auto mt-4">



<div class="col-md-8 col-sm-12" id="cart-body">
    <h5 class="card-title">Your Cart</h5>

  </div>



<div class="col-md-4 col-sm-12">
    <h4 id="total-price"> Total Price: </h4>
    <button class="btn btn-primary" type="button" id="finalize-checkout">Checkout</button>
</div>

</div>

