<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <img src="/assets/img/logotext.png" class="img-fluid" alt="Responsive image">
    <p class="lead font-weight-normal">Your first stop shop to fulfill your online electronic needs.</p>
    <a class="btn btn-outline-secondary" href="/shop" id="shopBtn">Shop!</a>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">Deals on Headphones</h2>
      <p class="lead">Sennheiser,HD 800 Over-the-Ear Headphones</p>
    </div>
    <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
        <img src="/assets/img/seinhesierheadphones.jpg" class="img-fluid landingProductImgs" alt="Responsive image">
    </div>
  </div>
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">SSD Savings</h2>
      <p class="lead">Samsung 860 EVO 250GB 2.5 SATA III SSD</p>
    </div>
    <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
        <img src="/assets/img/Samsung860.jpg" class="img-fluid landingProductImgs" alt="Responsive image">
    </div>
  </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">Bluetooth Speakers</h2>
      <p class="lead">Sony Ultra-Portable Bluetooth Speaker</p>
    </div>
    <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
        <img src="/assets/img/Songultraportable.jpg" class="img-fluid landingProductImgs" alt="Responsive image">
    </div>
  </div>
  <div class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">TV's</h2>
      <p class="lead">"Sony","Smart - HDTV - 40 class (39.5 inch Diag.)</p>
    </div>
    <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
        <img src="/assets/img/SonyTv.jpg" class="img-fluid landingProductImgs" alt="Responsive image">
    </div>
  </div>
</div>