
{{!-- Displays a thank you to the user after the submit an order. --}}

<div class="jumbotron">
  <h1 class="display-4">Thank you for your order!</h1>
  <p class="lead">Note that this is a mock e-commerce website made for a coding bootcamp.  Therefore, you have not been charged, nor will your items be placed.</p>
  <hr class="my-4">
  <p>Thank you for uses our website.  If you'd like to see more click below.</p>
  <a class="btn btn-primary btn-lg" href="/" role="button">Return to Shop</a>
</div>