
/* Product Table CSS */
table, th, td {
    border: 1px solid black;
  }

  .container {
    max-width: 960px;
  }
  
  /*
   * Custom translucent site header
   */
/* Bootstrap CSS */
  .site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a {
    color: #999;
    transition: ease-in-out color .15s;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  /*
   * Dummy devices (replace them with your own or something else entirely!)
   */
  
  .product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  
  .product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
  }
  
  .product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
  }
  
  
  /*
   * Extra utilities
   */
  
  .flex-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      -ms-flex: 1;
      flex: 1;
    }
  }
  
  .overflow-hidden { overflow: hidden; }
/* END BOOSTRAP CSS */
/* START custom CSS */
  #navLogo{
      height: 50px;
      width: 50px;
  }
  
  #navSearch{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }

  #shopBtn{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }

  .landingProductImgs{
      max-height: 100%;
  }

  .shopImg{
    height: 280px;
    width: 280px;
  }

  .cardSize{
    height: 120px;
    width: 286px;
  }
  .card{
    margin: 10px;
  }

  .btnSpot{
    margin: 5px;
  }

  .price{
    display: inline-block;
    margin-left: 10px;
  }
/* End custom CSS */

