
/* Product Table CSS */
table, th, td {
    border: 1px solid black;
  }

  .cart-img{
    width: 60px;
    height: auto;

  }
  .container {
    max-width: 960px;
  }
  
  /*
   * Custom translucent site header
   */
/* Bootstrap CSS */
  .site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a {
    color: #999;
    transition: ease-in-out color .15s;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }
  
#cart-count{
  color: white;
}

  /*
   * Dummy devices (replace them with your own or something else entirely!)
   */
  
  .product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  
  .product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
  }
  
  .product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
  }
  
  
  /*
   * Extra utilities
   */
  
  .flex-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
  
  .overflow-hidden { overflow: hidden; }
/* END BOOSTRAP CSS */
/* START custom CSS */
  #navLogo{
      height: 50px;
      width: 50px;
  }
  
  #navSearch{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }

  #shopBtn{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }

  .landingProductImgs{
      max-height: 100%;
  }

  .shopImg{
    height: 280px;
    width: 280px;
  }

  .cardSize{
    height: 120px;
    width: 286px;
  }
  .card{
    margin: 10px;
  }

  .btnSpot{
    margin: 5px;
    display: inline-block;
  }

  .price{
    display: inline-block;
    margin-left: 10px;
  }

  .indvProDesc{
display: inline-block;
  }

  #productImg{
    height: 250px;
    width: 250px;
    float: left;
  }

  .panel-body{
    margin: 50px;
    border-style: solid;
    border-width: 1px;
    padding: 25px;
    border-color: rgba(0, 0, 0, .85);
  }

  #sign-up-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
    
/* For /account */
  .accountInfo{
    margin: auto;
    clear: both;
    border: 1px solid blue;
    width: fit-content;
    margin-top: 2rem;
    line-height: 3;
    border-radius: 15px;
  }
  .adminHome{
    margin-top: 5%;
    margin-bottom: 10%;
  }
  .dashboard-container{
    border-style: solid;
    border-width: 1px;
    text-align: center;
    padding: 25px;
  }
  .dropdown-container {
    position: relative;
  }
  .nav {
    justify-content: center;
  }
  button.navbar-toggler {
    position: absolute !important;
    right: 10px !important;
    top: 14px !important;
}
.nav a {
  text-align: center;
  width: 15%;
}
.nav-item {
  text-align: left;
}
.bootdey {
  width: 100%;
  
}
.bootdey #productImg {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.dashboard-container {
  margin: auto;
}
.dropdown-container {
  display: inline-block;
}


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  .product-image {
    width: 50%;
    margin: auto;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
  .product-device {
    position: absolute;
    right: -15%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  .product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
  }
  .product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: -10%;
    background-color: #e5e5e5;
  }

  
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .product-device {
    position: absolute;
    right: 5%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  .product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
  }
  .product-device-2 {
    top: -20%;
    right: auto;
    bottom: 0;
    left: -5%;
    background-color: #e5e5e5;
  }
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .product-device {
    position: absolute;
    right: 5%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  .product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
  }
  .product-device-2 {
    top: -20%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
  }
}





/* End custom CSS */

